[Unit]
Description=OpenHarmony AccessTokenManager
Requires=samgr.service

[Service]
Type=exec
# should be 750 root:system
ExecStartPre=install -m 755 -d /data/service/e10/access_token
# should run as system:system
ExecStart=/usr/bin/sa_main /system/profile/accesstoken_service.xml

[Install]
WantedBy=multi-user.target
