[Unit]
Description=OpenHarmony Account Manager service
Requires=appspawn.service
After=appspawn.service

[Service]
Type=exec
# should run as system:system
ExecStart=/usr/bin/sa_main /system/profile/accountmgr.xml

[Install]
WantedBy=multi-user.target
