[Unit]
Description=OpenHarmony Appspawn service
Requires=samgr.service
After=samgr.service

[Service]
Type=exec
# Delay execution by 2 secs after samgr.service
ExecStartPre=/bin/sleep 2
ExecStartPre=mkdir -p /data/app
ExecStart=/usr/bin/appspawn

[Install]
WantedBy=multi-user.target
