[Unit]
Description=OpenHarmony Device Authentication daemon (SA: 4701)
Requires=samgr.service
After=samgr.service
# Logging to hilogd, but seems to work without it
Wants=hilogd.service
After=hilogd.service
# Requires SA: 3510
Wants=huks.service

[Service]
Type=notify
User=system
Group=system
SupplementaryGroups=shell
LimitNICE=40
ExecStart=/usr/bin/deviceauth_service
Restart=on-failure
StartLimitInterval=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
