[Unit]
Description=OpenHarmony Device Authentication daemon

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Device Authentication Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
