[Unit]
Description=OpenHarmony Distributed Data service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Distributed Data Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
