[Unit]
Description=OpenHarmony Distributed Schedule service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Distributed Schedule Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
