[Unit]
Description=OpenHarmony DSoftBus services

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony DSoftBus Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
