[Unit]
Description=OpenHarmony FaultLogger daemon

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony FaultLogger Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
