[Unit]
Description=OpenHarmony FaultLogger daemon
Requires=openharmony-preinit.service
After=openharmony-preinit.service

[Service]
Type=exec
ExecStartPre=install -m 775 -d /data/log/faultlog /data/log/faultlog/faultlogger /data/log/faultlog/temp/
ExecStart=/usr/bin/faultloggerd

[Install]
WantedBy=multi-user.target
