[Unit]
Description=OpenHarmony foundation service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony foundation Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
