[Unit]
Description=OpenHarmony hilog daemon

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony hilog Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
