[Unit]
Description=OpenHarmony huks service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Huks Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
