[Unit]
Description=OpenHarmony input method services (SA: 180 1401 3703)
Requires=samgr.service
After=samgr.service
# Logging to hilogd, but seems to work without it
Wants=hilogd.service
After=hilogd.service

[Service]
Type=notify
User=system
Group=system
SupplementaryGroups=shell
CapabilityBoundingSet=CAP_SYS_TIME
LimitNICE=40
ExecStart=/usr/bin/sa_main /system/profile/inputmethod_service.xml
Restart=on-failure
StartLimitInterval=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
