[Unit]
Description=OpenHarmony input method services

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Input Method Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
