[Unit]
Description=OpenHarmony Installs service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Installs Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
