[Unit]
Description=OpenHarmony media service (SA: 3002)
Requires=samgr.service
After=samgr.service
# Logging to hilogd, but seems to work without it
Wants=hilogd.service
After=hilogd.service

[Service]
Type=notify
ExecStart=/usr/bin/sa_main /system/profile/media_service.xml
User=system
Group=media_rw
SupplementaryGroups=system
LimitNICE=40
Restart=on-failure
StartLimitInterval=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
