[Unit]
Description=OpenHarmony pre-init setup
After=param.service
Requires=param.service
After=samgr.service
Requires=samgr.service
After=hilogd.service
Requires=hilogd.service
After=huks.service
Requires=huks.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/sbin/openharmony-preinit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
