[Unit]
Description=OpenHarmony pre-init setup
Wants=param.service
After=param.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/sbin/openharmony-preinit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
