[Unit]
Description=OpenHarmony SystemAbilityFramework service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony SystemAbilityFramework Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
