[Unit]
Description=OpenHarmony Time service

[Service]
Type=oneshot
ExecStart=/bin/echo "OpenHarmony Time Service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
