<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">OpenHarmony Device Connector on %h</name>
<service>
<type>_workstation._tcp</type>
<port>35000</port>
</service>
</service-group>
